@import './tailStyle.scss';
@import './reset.scss';

.container {
    h2 {
        margin-bottom: 40px;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
}
header {
    position: fixed;
    top:0;
    left:0;
}
section {
    padding-top: 80px;
}
.topMenu {
    a{
        width: 300px;
    }
    a.active {
        background: rgb(0, 73, 182);
        color: #fff;
    } 
}
.pagerWrap ul {
    >li.active {
        text-decoration: underline;
        font-weight: bold;
    }
}